@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;  
    scroll-behavior: smooth;
    line-height: 2em;
}
body{
    margin: 0em;
    padding:0em;
    background-color:rgb(245, 245, 245);

}
a {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 1.1em;
}


.nav{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #0A306C;
    font-weight: 400;
    text-align: center;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.links li,
.nav-ul li {
    display: inline-block;
    align-items: center;
    
}
.nav-ul li {
    margin-left: 20px;
    margin-right: 20px;
}
.nav-hover:hover {
    color:  #E8BC5A;
    border-bottom:  #E8BC5A solid;
    padding-bottom: 4px;
    transition: 1.5s ease;
    
}

.links,
.nav-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    
    

}
.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: #FAFAFA;
    letter-spacing: 2px;

}

.you{
    color: #E8BC5A;
}
.btn{
    color: #E8BC5A;
    padding: .75em;
    border-radius: 40px;
    font-weight: 500;
    font-size: 1.3em;
    
    letter-spacing: 3px;
}
.btn:hover{
    color: #FAFAFA;
    background-color: #E8BC5A;
    transition: 1.5s ease-in;
}
.container >.landing{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/5699451/pexels-photo-5699451.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0;
}
.landing{
    text-align: center;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.landing-txt{
    width: 70vh;
    height:40vh;
    padding-left: 40px;
    margin-top: 25vh;
       
}
.health{
    color: #E8BC5A;
}
.heading1{
    color: #fff;
    font-size: 4.0em;
    
    margin-bottom:0;
    letter-spacing: 3px;
}
.mid-section{
    color: #FAFAFA;
    font-size: 1.8em;
    

}
.about {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    
    background-color: rgb(245, 245, 245);


}

.about-text {
    width: 40%;
    padding-right: 4em;
    margin-top: 10vh;
    align-items: center;
    margin-bottom: 2em;
    
}
.about-text>.heading{
    color: #0A306C;
    font-size: 3em;
    

}

.about-image {
    width: 40%;
    height: 55.3vh;
    margin-left: 0;
    margin-top: 10vh;
    
    
}

.about-img {
    width: 100%;
}

.border {
    width: 2em;
    border-bottom: #E8BC5A 4px solid;
    margin-top: .1em;
}
.parabout{
    margin-bottom: 5em;
}
.bottom{
    color: #E8BC5A;
    padding: .75em;
    border-radius: 40px;
    font-weight: 500;
    font-size: 1.3em;
    background-color: #0A306C;
    margin-top: 300px;
    text-align: center;
    
    letter-spacing: 3px;
}
.bottom:hover{
    color: #FAFAFA;
    background-color: #E8BC5A;
    transition: 1.5s ease-in;
}
.counsellors-sec{
    
    height: 100vh;
    margin-left:0;
    margin-right: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/921294/pexels-photo-921294.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    
    
}
.counsellor-head{
    text-align: center;
    margin-top: 2.5em;
    color: #fff;
    font-size: 3em;
    padding-top: 2em;
    
    

}

.cards{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
    
    
   
}
.counsellors-card{

    width: 25%;
    display: flex;
    flex-direction: column;
    height: 28%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}
.card-img{
    height: 85%;
    width: 100%;
}
.card-txt{
    background-color: #E8BC5A;
    padding-left: 2em;
    color: #FAFAFA;
    padding-top: 0px;
    height: 15%;
}
.counsellor-head>.counsel{ 
    
    border-bottom: #E8BC5A 4px solid;
    width: 6%;
    
    padding-top: 0px;
    margin: 0% auto;
    margin-bottom: .75em;

} 
h4{
    font-size: 1.5em;
    padding-bottom: 0em;
}
.card-txt-mercy{
    background-color: #0A306C;
    padding-left: 2em;
    color: #FAFAFA;
    padding-top: 0px;
    height: 15%;
}
.right{
    float: right;
    font-weight: 600;
    font-size: 1.6em;
    margin-top: 4em;
    margin-bottom: 1em;
    margin-right: 45%;
    color: #E8BC5A;
    
}

.mental-health {
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
    
    background-color: rgb(245, 245, 245);
    padding-bottom: 5em;
    width: 100%;

}

.mentalhealth-text {
    width: 40%;
    padding-left: 4em;
    margin-top: 10vh;
    align-items: center;
    margin-bottom: 2em;
    
}
.mentalhealth-text>.heading{
    color: #0A306C;
    font-size: 3em;
    

}

.mentalhealth-image {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 20vh;
    margin-top: 25vh;

}
.mental-img1{
    width: 35%;
    height: 35vh;
    padding-top: 10vh;
    
}
.mental-img2{
    width: 40%;
    height: 45vh;
    
}
.mental{
    float: right;
    font-weight: 600;
    font-size: 1.6em;
    margin-top: 0em;
    margin-bottom: 5em;
    margin-right: 45%;
    color: #E8BC5A;
    
    padding: .75em;
    border-radius: 40px;
    font-weight: 500;
    font-size: 1.3em;
    
    letter-spacing: 3px;
}
.Our-patients{
    
    height: 100vh;
    margin-left:0;
    margin-right: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/921294/pexels-photo-921294.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5em;

    
    
    
}
.patients-head{
    text-align: center;
    margin-top: 2.5em;
    color: #fff;
    font-size: 3em;
    padding-top: 2em;
    
    

}

.cards{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
    
    
    
   
}
.patients-card{

    width: 25%;
    display: flex;
    flex-direction: column;
    height: 28%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}
.card-img{
    height: 90%;
    width: 100%;
}
.card-patient-txt{
    background-color: #0A306C;
    padding-left: 2em;
    color: #FAFAFA;
    padding-top: 0px;
    height: 15%;
}
.patients-head>.patients{ 
    
    border-bottom: #E8BC5A 4px solid;
    width: 6%;
    
    padding-top: 0px;
    margin: 0% auto;
    margin-bottom: .75em;

} 
h4{
    font-size: 1.5em;
    padding-bottom: 0em;
}
.card-txt-antony{
    background-color: #E8BC5A;
    padding-left: 2em;
    color: #FAFAFA;
    padding-top: 0px;
    height: 15%;
}
.right{
    float: right;
    font-weight: 600;
    font-size: 1.6em;
    margin-top: 4em;
    margin-bottom: 1em;
    margin-right: 45%;
    color: #E8BC5A;
    
}

footer {
    width: 100%;
}
.footer {
    display: flex;
    flex-direction: row;
    min-height: 30vh;

}

ul {
    list-style: none;
    padding: 0%;
}

.summary {
    width: 50%;
    padding-left: 10vh;
}
.summary>p {
   color: #FAFAFA;
}

.Company, .Our-focus, .Others {
    width: 16%;
}

.Company ul li, .Our-focus ul li, .Others ul li {
    margin-bottom: 1.5em;
    color: #FAFAFA;
}
.Company, .Others>h2{
    color: #FAFAFA;
}

.footer-center {
    text-align: center;
    margin-bottom: 1em;
    color: #E8BC5A;
    font-size: 1.2em;
    
}

.icons {
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 2.5em;
    width: 20%;
    justify-content: space-between;
}
.icons i:hover{
    color: #E8BC5A;
    
}

.mobile {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    width: 40%;
    justify-content: space-between;
}

.mobile .apple {
    margin-right: 1em;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #0A306C;
    margin-top: 5vh;
    padding-bottom: 5vh;
    padding-top: 10vh;
}
