@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* navigation bar from landing page */

a {
  text-decoration: none;
  color: #FAFAFA;
  font-size: 1.1em;
}


.nav{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #0A306C;
  font-weight: 400;
  text-align: center;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.links li,
.nav-ul li {
  display: inline-block;
  align-items: center;
  
}
.nav-ul li {
  margin-left: 20px;
  margin-right: 20px;
}
.nav-hover:hover {
  color:  #E8BC5A;
  border-bottom:  #E8BC5A solid;
  padding-bottom: 4px;
  transition: 1.5s ease;
  
}

.links,
.nav-ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  
  

}
.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: #FAFAFA;
  letter-spacing: 2px;

}

.you{
  color: #E8BC5A;
}
.btn{
  color: #E8BC5A;
  padding: .75em;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1.3em;
  
  letter-spacing: 3px;
}
.btn:hover{
  color: #FAFAFA;
  background-color: #E8BC5A;
  transition: 1.5s ease-in;
}




/* end of navigation bar from landing page */



.mainborder{
   background-color: rgb(245,245,245);
   width: 100%;
   margin-top: -1.4%;
}
.mainborder h2 {
  font-size: xx-large;
  text-align: center;
 padding: 1em ;
  color: white;
  background-color: #0A306C;
}
.individual-contents{
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap:wrap ;
width: 100%;
margin-top: 2%;
}
.item-1{
   padding: 1%;
   width: 40%;
   height: 830px;
   margin: 3%;
   box-shadow: 0px 8px 15px rgba(8, 8, 8, 0.1);
}
.item-1 img{
  /* padding-top: 3%; */
   height: 60%;
   width: 60%;
   padding-left: 20%;
}
.item-1 h4{
  font-size: xx-large;
  padding-left: 40%;
  color: white;
  background-color: #0A306C;
}
.item-1 h6{
  font-size: larger;
  color: black;
  padding-left: 10%;
  font-style: italic;
}
.view-btn{
  margin-top: 1rem;
  margin-right: 2rem;
}
.view-btn button{
  background-color: #0A306C;
  font-size: 30px;
  font-weight: bold;
  padding: 3% 2%;
  border-radius: 5%;
  border-width: 0px;
  margin-left: 40%;
}
.view-btn button a{
  color: white;
  text-decoration: none;
  font-size: 25px;
}


.view-btn button:hover {
  background-color: #e8bc5a;
  color: #0A306C;
  transition: ease 2s;
  border: 1px solid #0A306C;
}


