.mainborder{
    background-color: aqua;

}
.individual-contents{
display: flex;

width: 100%;
}
.item-1{
    height: 230px;
    max-width: 25%;
 }
 .item-1 img{
    height: 100%;
    width: 100%;

 }
 .mainborder2{
    background-color: blueviolet;
 }