body{
    background-color: none;
}


.log-container {
    display: flex;
    width: 100%;
}
.login-text {
    background-color: #0A306C;
    color: #fafafa;
    text-align: center;
    width: 50%;
   padding-top: 40vh ;
   /* padding-left: 10vh; */
}

.content-text {
    /* margin-left: 10vh; */
    padding-left: 10vh;
    text-align: start

}

.home-button {
    text-align: start;
    padding-left: 10vh;
    margin-top: 5vh;
}

.home-button button {
    padding: 1em;
    width: 15%;
    border-radius: 50px;
    color: #0A306C;
letter-spacing: 1px;
text-shadow: 1px 1px 2px;
text-transform: uppercase;
}

.home-button button:hover {
    background-color: #e8bc5a;
    transition: ease 1.5s;
    color: #fafafa;
}
.login{
    /* border: solid white; */
    width: 50%;
    height: 100vh;
    margin-top: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../loginimages/kike-vega-F2qh3yjz6Jk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#login1{
    padding-left: 30%;
    color: white;
    font-size: 35px;
    
}

.login2-bottom {
    border-bottom: #e8bc5a 4px solid;
    width :10%;
    padding-top: .4em;
    
}

.login1-bottom {
border-bottom: #0A306C 4px solid;
width :10%;
padding-top: .4em;
}
.loginput{
    color: white;
    padding-left: 30%;
    font-size: 20px;
    width: 50%;
    align-items: space-around;
}
input[type=text] {
    width: 100%;
    border-radius: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .loginbtn{
    margin-left:48% ;
    padding: 1em;
    width: 15%;
    border-radius: 50px;
    background-color: #e8bc5a;
    color: #fafafa;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px ;
  }

  .loginbtn:hover {
background-color: #0A306C;
color: #e8bc5a;
transition: ease 1.5s;
  }

  .anchor-bottom {
    color: white;
    text-decoration: none;
    padding-left: 30%;
    padding-top: 1.5em;
    margin-bottom: 1em;
    font-size: 1.2em;
  }