* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);

}
#title {
  text-align: center;
  padding: 20px;
}
/* i am here playing */
.about {
  background-color:#0a306c;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 50%;
  color: white;
}

.border-bottom {
  background-color: #e8bc5a;
  width: 6%;
  margin: auto;
  height: 4px;
  display: flex;
  justify-content: center;
}
.content h2 {
  font-size: 50px;
}
.content p {
  padding: 5px;
}

.content,
.mental-image {
  flex: 1;
  margin: 20px;
  /* margin-left: 20%; */
}

.mental-image {
  margin-left: 8%;
}
.mental-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.find {
  background-color:#0a306c;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px;
}
.find:hover {
  background-color: #e8bc5a; 
  transition: ease 2s;
  color: #0a306c;
}

.find a {
  text-decoration: none;
  color: white;
}

.images {
  display: flex;
  padding: 20px;
}

.images .image1 {
  border-radius: 5px;
  flex: 1;
  margin: 1em;
  box-shadow: 2px 2px 4px #0a306c;
}

.images .image1:hover {
  transform: scale(1.03);
  transition: ease 2s;
  box-shadow: 2px 2px 4px #e8bc5a;

}

.images .image1 img {
  max-width: 100%;
  padding: 5px;
}

.images .image1 .specialization {
  /* background-color: rebeccapurple; */
  padding: 8px;
  text-align: center;
}
.images .image1 .specialization h3 {
  margin-bottom: 5px;
}

.images .image1 .specialization button{
  background-color: #0a306c;
  padding: 2vh;
  border-radius: 10px;
  color: #fafafa;
  margin-top: 5px;
  cursor: pointer;
  border: none;
}

.specialization button:hover {
 
  opacity: 0.8;
  transform: scale(1.03);
  transition: 1.5s ease;
  /* font-weight: bold; */
  text-transform: uppercase;
  text-shadow: 2px 1px 2px;
  letter-spacing: 1px;
}

.feedback {
  width: 60%;
  margin: auto;
  border-radius: 8px;
  background-color: white;
  position: relative;
  top: -30px;
  left: -50px;
  box-shadow: 2px 2px 2px #667eea;
}
.feedback .feed {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  justify-content: space-around;
}

.feedback .feed .helped {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 1em;
  height: 80px;
}

.row .see-more {
  /* background-color: blue; */
  padding-right: 20px;
  text-align: end;
}

.see-more i {
  font-size: 4em;
}

.page-break {
  background-color: black;
  height: 5px;
}

/* unity section */

.unity{
  padding: 20px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXpN_4yNztaBpjIZtOzsYTfL2kwIYiJIvfOA&usqp=CAU");
background-position: 100%;
background-size: cover;
background-repeat: no-repeat;
background-color: rgba( 250, 250, 250, 0.8)
  
}

.unity h2{
  color: blue;
  padding: 5px;
}

.unity p{
padding: 5px;
}

.unity button{
  background-color: blue;
  margin: 10px;
  padding: 1em;
  border: none;
  border-radius: 5px;
  opacity: 0.7;
  color: white;
}

.one-on-one {
  background-color: #0a306c;
  padding: 10px;
margin-top: 0.2em;

}

.quest {
  background-color: #e8bc5a;
  padding: 20px;
  width: 60%;
  border-radius:50px ;
}
.answ {
  background-color: #fafafa;
  padding: 20px;
  width: 60%;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  margin-left:40% ;
}

.answ i:hover {
  border-bottom: 4px;
  transition: 2s ease;
  padding: 4px;
}

.head-tag {
  background-color: #e8bc5a;
padding: 20px;
text-align: center;
margin-top: 0.2em;
}