*{
    margin: 0;
    padding: 0;
}
body{
    width:px;
    margin: auto;

}
.sectionabout{
    width: 100%;
    display: flex;
    
}
.aboutBetter{
    font-weight: 900;
    width: 100%;
    font-size:2em;
  
}

.aboutBetter h1 {
    width: 80%;
    margin: auto;
}
.aboutimage{
flex: 1;
}
.aboutimage >img{
    width: 100%;
height: 100vh;
}

.about-better-cont {
    flex: 1;
    margin-top: 20vh;
}
.aboutcontent {
    display: flex;
    width: 100%;
}
.aboutcontent p{
   width: 50%;
    padding-left: 10vh;
 

}
.cont-how{
    width: 40%;
    display: flex;
    justify-content: center;
}

.red-line {
    margin-top: 1em;
    width: 3px;
    height: 28vh;
    background-color: #e8bc5a;
}

.how h2{
    padding-bottom: 2%;
    font-size: 150%;
    text-align: center;
    align-items: center;
    color: black;

}

ol{
    margin:10px;
    color: black;
    padding: 8px;
}

ol li {
    padding: .3em;
}

.servicesection{
    margin: auto;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    color: white;
    
}

.more-services {
    display: flex;
}
.service{
    font-weight: 900;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 40%;
    font-size: 250%;
    background-color: #0a306c;

    
}
.serviceimage{
width: 60%;
}
.serviceimage > img{
    width: 100%;
}


.whatcontent {
    width: 40%;
display: flex;
justify-content: center;
align-items: center;

}

.what-we-do {
/* background-color: #0a306c; */
background-color: rgba(10, 48, 108, 0.8);
padding: 2em;
border-radius: 5px;

}

.what h2{
    color: black;
    font-size: 150%;
}

.blue-line {
    height: 4px ;
    background-color: #0a306c;
    width: 8vh;
    margin-bottom: 1em;

}
.what h4{
   color: #e8bc5a;
    
}
.two:hover{
    background-color: rgb(204, 204, 13);
}

.story{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:white;
}
.storihead{
    font-weight: 900;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 40%;
    font-size: 250%;
    border-bottom: .1em solid #0a306c;
    margin-bottom: 1em;
}

.combined-story {
    display: flex;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    padding: 2em;
}
.storyimage{
    width: 60%;
}
.storyimage >img{
    width: 100%;
}

.storysection {
    width: 40%;
}
.storysection,p{
    padding-left:3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    font-size: 120%;
}
@media only screen and (max-width: 768px) {
   .storyimage{
    padding-left: 0%;
   }
   .serviceimage{
    padding-left: 0%;
   }
   .aboutimage{
    padding-left: 0%;
   }
   body {
    background-color: none;
   }

  }

